@import url('./global.css');

/* ------------ HEADER ------------ */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-neutral-silver);
}

.logo {
    padding: 30px 0px;
}

.nav-header ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-header ul a {
    text-decoration: none;
    color: #18191F;
}

.active {
    font-weight: bold;
}

.btn-login {
    color: var(--color-primary);
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-SignUp {
    color: var(--color-neutral-white);
    padding: 10px 20px;
    background-color: var(--color-primary);
    border-radius: 6px;
    cursor: pointer;
}

.btn-header {
    gap: 14px;
    padding: 22px 0px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    width: 28px;
    height: 3px;
    background-color: var(--color-neutral-black);
    border-radius: 2px;
}



/* ------------ FIM HEADER ------------ */

/* ------------ MAIN ------------ */

main {
    display: flex;
    background-color: var(--color-neutral-silver);
    align-items: center;
    justify-content: center;
    gap: 104px;
    padding: 96px 0px;
}

.content-lessons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 657px;
}

h1 {
    font-size: 64px;
    color: var(--color-neutral-d_grey);
    font-weight: 600;
}

.content-lessons h1 span {
    color: var(--color-primary);
}


/* ------------ FIM MAIN ------------ */

/* ------------ OUR CLIENTS ------------ */

.our-client {
    text-align: center;
    margin-top: 40px;
}

.our-client p {
    margin-top: 8px;
}

.logo-clients {
    display: flex;
    justify-content: center;
    gap: 136px;
    padding: 25px 0px;
    margin-top: 16px;
}

/* ------------ FIM OUR CLIENTS ------------ */

/* ------------ MANAGE SYSTEM ------------ */

.manage-system {
    text-align: center;
    margin-top: 40px;
}

.manage-system h2 {
    width: 542px;
    margin: 0 auto;
}

#manage-system-subtitle {
    margin-top: 8px;
}

.cards-container {
    display: flex;
    margin-top: 16px;
    gap: 127.5px;
    justify-content: center;
}

.cards-container article {
    width: 299px;
    box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.2);
    padding: 24px 16px;
    text-align: center;
    border-radius: 8px;
    transition: 0.5s;
}

.cards-container article:hover {
    box-shadow: 0px 8px 12px rgba(171, 190, 209, 0.5);
    transform: translateY(-8px);
}

.cards-container article img {
    width: 65px;
    height: 56px;
}

.cards-container article h3 {
    color: var(--color-neutral-d_grey);
    font-size: 28px;
    margin-bottom: 8px;
    width: 231px;
    text-align: center;
    margin: 0 auto;

}

.cards-container article p {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.6;
}

/* ------------ FIM MANAGE SYSTEM ------------ */

/* ------------ PIXEL GRADE ------------ */

.pixelgrade {
    display: flex;
    justify-content: center;
    gap: 49.47px;
    margin-top: 42px;
    padding: 52px;
}

.pixelgrade-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 601px;
}

.pixelgrade-content h2 {
    width: 564px;
}

.pixelgrade-content p {
    font-size: var(--font-body-3-size);
    line-height: 20px;
}

/* ------------ FIM PIXEL GRADE------------ */

/* ------------ HELPING LOCAL------------ */

.helping-local {
    display: flex;
    justify-content: center;
    gap: 204px;
    align-items: center;
    padding: 64px;
    background-color: var(--color-neutral-silver);

}

.helping-local-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.helping-local-content h2 {
    width: 380px;

}

.helping-local-content h2 span {
    color: var(--color-primary);
}

.helping-local-content p {
    color: #18191F;
}

.helping-local-statistic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.helpping-local-items {
    display: flex;
    gap: 16px;
}

/* ------------ FIM HELPING LOCAL------------ */
/* ------------ FOOTER LIKE ------------ */

.how-desing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 48px;
}

.how-desing-content {
    width: 601px;
    margin-bottom: 32px;
    margin-top: 16px;
}

.how-desing-content h2 {
    color: var(--color-neutral-d_grey);
    font-size: var(--font-headline-2-size);

}

.how-desing-content p {
    color: var(--color-neutral-grey);
    font-size: var(--font-body-3-size);
}

/* ------------ FIM FOOTER LIKE ------------ */
/* ------------ CUSTOMER ------------ */

.customer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 78px;
    padding: 32px;
    background-color: var(--color-neutral-silver);
    line-height: 24px;
}

.customer-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 748px;
}

.customer-signature {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.customer-signature h2 {
    color: var(--color-primary);
    font-size: var(--font-headline-4-size);
}

.customer-signature p {
    color: var(--color-neutral-L_grey);
}

.customer-container {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 16px;
}

.customer-itens {
    display: flex;
    gap: 41px;
}

.customer-itens img {
    width: 48px;
    height: 48px;
}

/* ------------ FIM CUSTOMER ------------ */

/* ------------ CARTING MARKETING ------------ */


.caring-marketing {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 40px;
}

.caring-marketing p {
    width: 628px;
    margin: auto;
}

.caring-marketing-container {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;
}

.caring-marketing-card {
    display: flex;
    width: 368px;
    position: relative;
    flex-direction: column;
    align-items: center;

}

.caring-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: var(--color-neutral-silver);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgb(171, 190, 209, 0.4);
    width: 317px;
    position: absolute;
    top: 190px;
}

.caring-card-content h3 {
    font-size: var(--font-headline-4-size);
    color: var(--color-neutral-grey);
    width: 285px;
    font-weight: var(--font-headline-4-weight);
}

/* ------------ FIM CARTING MARKETING ------------ */
/* ------------  PELLENTESQUE ------------ */

.pellentesque {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 32px;
    margin-top: 94.6px;
    background-color: var(--color-neutral-silver);
}

.pellentesque h2 {
    font-size: var(--font-headline-1-size);
    width: 722px;
    text-align: center;
    color: var(--color-neutral-black);
}

.btn-pellentesque {
    text-align: center;
    background-color: var(--color-primary);

}

.pellentesque a {
    text-decoration: none;
    align-self: center;
    display: flex;
    gap: 8px;
}


/* ------------ FIM PELLENTESQUE ------------ */
/* ------------ FOOTER ------------ */

footer {
    display: flex;
    justify-content: center;
    gap: 269px;
    padding: 64px 0px;
    background-color: var(--color-neutral-black);
}

.copyright-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.copyright-reseverd p {
    color: var(--color-neutral-silver);
}

.copyright-reseverd p:nth-of-type(1) {
    margin-bottom: 8px;
}

.footer-socials {
    display: flex;
    gap: 16px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 7.47px;
    border-radius: 100%;
    transition: 0.3s;
}

.social-icons:hover {
    background-color: var(--color-primary);
    transform: translateY(-10px);
}

.social-icons {
    display: flex;
}

.footer-navigations {
    display: flex;
    gap: 97px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-container h2 {
    color: var(--color-neutral-white);
    font-size: var(--font-headline-4-size);
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: var(--font-body-3-size);
}

.footer-links li {
    transition: 0.3s;
}

ul {
    list-style: none;
}

.footer-item {
    text-decoration: none;
    color: var(--color-neutral-silver);
    font-weight: var(--font-body-3-weight-regular);
}

.footer-links li:hover {
    transform: translateX(10px);
}

.footer-item:hover {
    color: var(--color-primary);
}

.footer-container form {
    display: flex;
    align-items: center;
}

.footer-container form input {
    padding: 10px 12px;
    border-radius: 8px 0px 0px 8px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.footer-container form input::placeholder {
    color: #ffffff;
}

.footer-container form button {
    padding: 6.7px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    transition: 0.2s;
}

.footer-container form button:hover {
    background-color: var(--color-primary);
}

/* ------------ FIM FOOTER ------------ */



@media (max-width: 884px) {


    main {
        text-align: center;
        gap: 50px;
    }

    h1 {
        font-size: 50px;
    }

    .content-lessons {
        width: 390px;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-header {
        display: none;
    }

    .btn-header {
        display: none;
    }


    .cards-container {
        gap: 10px;
        scale: 0.9;
    }

    .pixelgrade {
        gap: 10px;
    }

    .pixelgrade-content {
        width: 500px;
    }

    .helping-local {
        gap: 10px;
    }

    .helping-local-statistic {
        gap: 20px;
    }

    .how-desing {
        gap: 10px;
    }

    .how-desing-content h2,
    .how-desing-content p {
        width: 500px;
    }

    .customer {
        gap: 10px;
    }

    .customer-content {
        width: 500px;
    }

    .customer-container {
        flex-direction: column;
    }

    .caring-marketing-card {
        scale: 0.8;
    }

    .caring-marketing-container {
        gap: 1px;
    }

    footer {
        gap: 30px;
    }


}

@media (max-width: 480px) {

    main {
        flex-direction: column-reverse;
    }

    h1 {
        font-size: 40px;
    }

    .logo-clients {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .manage-system h2 {
        font-size: 20px;
        width: 300px;
    }

    .cards-container {
        flex-direction: column;
    }

    .cards-container article {
        margin: 0 auto;
    }

    .pixelgrade {
        flex-direction: column;
        gap: 30px;
    }

    .pixelgrade img {
        width: 380px;
    }

    .pixelgrade h2 {
        font-size: 20px;
        width: 280px;
    }

    .pixelgrade-content {
        width: 380px;
    }

    .helping-local {
        flex-direction: column;
        gap: 80px;
    }

    .helping-local h2 {
        font-size: 30px;
        width: 280px;
    }

    .how-desing {
        flex-direction: column;
        padding: 0;
    }

    .how-desing img {
        width: 290px;
    }

    .how-desing h2 {
        font-size: 30px;
        width: 380px;
    }
    
    .how-desing-content{
        width: 380px;
        padding: 0;
    }

    .how-desing p {
        width: 360px;
    }

    .customer {
        flex-direction: column;
    }

    .customer p {
        width: 380px;
    }

    .customer-container {
        flex-direction: column;
    }

    .customer-content{
        width: 380px;
    }

    .customer-itens{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .pellentesque h2 {
        font-size: 30px;
        width: 300px;
    }

    .caring-marketing p {
        font-size: 20px;
        width: 300px;
    }

    .caring-marketing-container {
        flex-direction: column;
        margin: 0 auto;
    }

    footer {
        flex-direction: column;
        margin: 0 auto;
    }

    footer p {
        font-size: 30px;
    }

    .footer-container h2 {
        font-size: 40px;
    }

    .social-icons{
        width: 50px;
        height: 50px;
    }

    .social-icons img{
        width: 30px;
    }

    .footer-links {
        font-size: 20px;
    }

    .logo {
        width: 300px;
        text-align: center;
        display: flex;
    }

    .footer-navigations {
        flex-direction: column;
        gap: 80px;
    }

    .footer-container input{
      width: 80%;
      height: 60px
    }

    .footer-container button{
        height: 60px;
        width: 60px;
    }

    .footer-container form input::placeholder{
        font-size: 20px;
    }

}